[defaults]
inventory      = ./inventory
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 5
poll_interval  = 15
transport      = smart
module_lang    = C
gathering = implicit
roles_path    = ./roles
timeout = 10
deprecation_warnings = False
command_warnings = False
#vault_password_file = ~/.vault_pass
host_key_checking = False
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins
callback_whitelist = profile_tasks
fact_caching = memory
ansible_ssh_port = 2222
retry_files_enabled = False 
log_path = ./ansible.log
[privilege_escalation]
[paramiko_connection]
[ssh_connection]
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no
[selinux]
